/***********************************************
                     ==contact
***********************************************/
@charset "UTF-8";
#nuage_txt form {
    width: 98%;
    input[type='submit'] {
        display: inline-block;
        vertical-align: bottom;
    }
    fieldset {
        display: inline-block;
        vertical-align: top;
        padding: 2px;
        margin: 2px;
        border: none;
        &#coordo {
            width: 40%;
        }
        &#msg {
            width: 45%;
            height: 130px;
        }
        label {
            display: inline-block;
            width: 30%;
            span {
                font-weight: bolder;
            }
        }
        input {
            color: $colorInput;
            &:required {
                font-weight: bolder;
            }
            &.trait {
                margin: 2px;
                background-color: transparent;
                border: none;
                border-bottom: $borderForm;
            }
        }
        textarea {
            width: 98%;
            height: 95px;
            background-color: transparent;
            border: $borderForm;
            color: $colorInput;
        }
    }
}
a.social {
    display: inline-block;
    margin: 0 5px;
    color: white;
    transition: 0.5s;
    &:hover {
        color: #2814e9;
    }
}
