/***********************************************
                     ==éléments cliquable
***********************************************/
a.image {
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
    z-index: 1;
}
a#silo_base {
    width: 8%;
    height: 15%;
    background-image: url($imgSepia + "silo_base.png");
    left: 9%;
    bottom: 42%;
    &:hover {
        background-image: url($imgCouleur + "silo_base.png");
    }
}
a#silo_film {
    width: 8%;
    height: 15%;
    background-image: url($imgSepia + "silo_film.png");
    left: 83%;
    bottom: 58%;
    &:hover {
        background-image: url($imgCouleur + "silo_film.png");
    }
}
a#contact {
    width: 9%;
    height: 22%;
    background-image: url($imgSepia + "contact.png");
    left: 1%;
    bottom: 6%;
    &:hover, &:active {
        background-image: url($imgCouleur + "contact.png");
    }
}
a#formateur95 {
    width: 16%;
    height: 22%;
    background-image: url($imgSepia + "formateur95.png");
    left: 24%;
    bottom: 13%;
    &:hover {
        background-image: url($imgCouleur + "formateur95.png");
    }
}
a#magasinnier {
    width: 14%;
    height: 10%;
    background-image: url($imgSepia +"magasinnier.png");
    left: 34%;
    bottom: 13%;
    &:hover {
        background-image: url($imgCouleur + "magasinnier.png");
    }
}
a#abapeur {
    width: 12%;
    height: 25%;
    background-image: url($imgSepia + "abapeur.png");
    left: 45%;
    bottom: 13%;
    &:hover {
        background-image: url($imgCouleur + "abapeur.png");
    }
}
a#responsable {
    width: 17%;
    height: 15%;
    background-image: url($imgSepia + "responsable.png");
    left: 58%;
    bottom: 13%;
    &:hover {
        background-image: url($imgCouleur + "responsable.png");
    }
}
a#formateur_info {
    width: 15%;
    height: 28%;
    background-image: url($imgSepia + "formateur_info.png");
    left: 74%;
    bottom: 13%;
    &:hover {
        background-image: url($imgCouleur + "formateur_info.png");
    }
}
a#bac {
    width: 11%;
    height: 10%;
    background-image: url($imgSepia + "bac.png");
    left: 6%;
    bottom: 0;
    &:hover {
        background-image: url($imgCouleur + "bac.png");
    }
}
a#biochimie {
    width: 22%;
    height: 17%;
    background-image: url($imgSepia + "biochimie.png");
    left: 21%;
    bottom: -3%;
    &:hover {
        background-image: url($imgCouleur + "biochimie.png");
    }
}
a#graduat {
    width: 22%;
    height: 20%;
    background-image: url($imgSepia + "graduat.png");
    left: 43%;
    bottom: -1%;
    &:hover {
        background-image: url($imgCouleur + "graduat.png");
    }
}
a#mos {
    width: 23%;
    height: 15%;
    background-image: url($imgSepia + "mos.png");
    right: 0;
    bottom: 0;
    &:hover {
        background-image: url($imgCouleur + "mos.png");
    }
}
